{% extends 'shared/_layout.html' %}
{% load static %}

{% block header_links %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix - Detail Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock %}
{% block title %}
    detail movie page
{% endblock %}
{% block content %}
    <div class='font-primary'>
        {% include 'shared/nav_partial.html' %}
        <main class='bg-primary_black min-h-screen w-full'>
            <section
                    class="h-screen relative bg-no-repeat pb-8 pl-6 flex items-end bg-cover"
                    style="background-image: url('{{ movie.flyer.url }}');">
                <div>
                    <h2 class="text-6xl font-semibold text-white my-4">
                        {{ movie.title }}
                    </h2>
                    {#                    <p class=" w-11/12 md:w-5/12 font-medium text-white my-4">#}
                    {#                        {{ movie.description|slice:100 }}#}
                    {#                    </p>#}
                    <div class="flex my-4">
                        <a href="{% url 'play-movie' movie_id=movie.uuid %}">
                            <button class="flex items-center bg-white py-2 px-5 rounded-md"
                                    style="color: black">
                                <ion-icon name="play" class="text-2xl"></ion-icon>
                                <span class="ml-3 font-medium">
                                    Play
                                </span>
                            </button>
                        </a>


                    </div>
                </div>
            </section>
            <hr style="color: white">
            <section class='bg-primary_black  min-h-screen flex justify-center py-10'>
                <div class="p-8 w-10/12 relative">
                    {% if movie.type == 'seasonal' %}
                        <h2 class="text-gray-200 text-3xl font-medium">
                            episode
                        </h2>
                        {% for episode in movie.videos.all %}
                            <h3 class="text-lg">
                                <a href="{% url 'play-movie' movie_id=movie.uuid %}?api=
{{ forloop.counter0 }}">
                                    {{ forloop.counter }} - {{ episode.title }}
                                </a>
                            </h3>
                        {% endfor %}
                    {% else %}
                        <h2 class="text-gray-200 text-3xl font-medium">
                            {{ movie.title }}
                        </h2>
                        <div class="flex justify-center  items-center min-w-full  movie_lis">
                            <p class="text-gray-100 text-lg">
                                {{ movie.description }}
                            </p>
                        </div>
                    {% endif %}

                </div>
            </section>

        </main>
    </div>
    <script>
        const nav = document.querySelector('nav')

        document.addEventListener("scroll", e => {

            if (scrollY > 200) {
                nav.classList.add('bg-gray-900')

            } else {
                nav.classList.remove('bg-gray-900')

            }
        })

    </script>
{% endblock %}