{% extends 'shared/_layout.html' %}
{% load static %}
{% block title %}
    prolfies
{% endblock %}
{% block header_links %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block content %}
    {% include 'shared/nav_partial.html' %}
    <section
            class='bg-primary_black min-h-screen py-20 md:py-0 flex-col flex justify-center items-center'>
        <h2 class="text-center font-medium text-5xl my-4 text-gray-100">
            Who's watching ?
        </h2>

        <div class="flex flex-wrap justify-center items-center w-10/12  md:w-6/12">
            {% for profile in profiles %}
                <a href="{% url 'movies_list' profile_id=profile.uuid %}">
                    <div
                            class="w-32 h-32 m-4 flex flex-col justify-center align-center text-center
                            bg-blue-500 rounded-md cursor-pointer">
                        {#                        {% if profile.avatar %}#}
                        {#                            <img style="width: 85px;align-self: center;"  src="{{ profile.avatar }}" alt="">#}
                        {#                        {% else %}#}
                        {#                            <img style="width: 85px;align-self: center;" src="/static/netflix.png" alt="">#}
                        {#                        {% endif %}#}
                        <p class="text-6xl m-4">
                            {{ profile.name|slice:"1" }}
                        </p>
                        <p class="w-32 h-32 bg-blue-500 rounded-md cursor-pointer">
                            {{ profile.name }}
                        </p>
                    </div>
                </a>
            {% endfor %}


        </div>
        <div class="flex justify-center items-center">
            <a href="{% url 'create-profile' %}"
               class="px-4 py-2 rounded-md outline-none bg-gray-400 text-gray-100">
                Add A New Profile
            </a>
        </div>
    </section>
{% endblock %}
