{% extends 'shared/_layout.html' %}
{% load static %}
{% block header_links %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix - Movie</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <style>
        .player::-webkit-progress-bar {
            color: red;
        }
    </style>
{% endblock %}
{% block title %}
    play video
{% endblock %}
{% block content %}
    {% include 'shared/nav_partial.html' %}
    <div class="font-primary">
        {{ movie|json_script:'movieData' }}
        <main class='bg-primary_black h-full w-full '>
            <video src="" controls class="w-full h-screen player"></video>
        </main>
    </div>
    <script>
        const videoEl = document.querySelector('video');
        const movieData = JSON.parse(document.getElementById('movieData').textContent);

        const url = new URL(location.href)
        const videoParam = parseInt(url.searchParams.get('api')) ? parseInt(url.searchParams.get
        ('api')) : 0
        videoEl.setAttribute('src', 'http://localhost:8000/uploads/${movieData{videoParam}.file}')
    </script>
{% endblock %}